html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(155, 236, 203);
    color: white;
    background-attachment: fixed;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    width: 98vw;
    background-image: url(devCare.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    
}

.container button:first-child {
    margin-top: 20px;
    margin-left: 500px;
}

.container {
    background-color:  #4a614b7e;
    border: 3px solid rgba(5, 20, 26, 0.459);
    border-radius: 20px;
    width: 600px;
    padding-bottom: 20px;
    margin-top: 120px;
    
}

input, button {
    background-color: rgba(255, 255, 255, 0.493);
    color: white;
    min-height: 40px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 12px;
    text-align: center;
}

input::placeholder{
    color: green;
    text-align: center;
}

div#res {
    margin-top: 20px;
    background-color: #9FB79F;
    color: black;
    padding: 10px;
}

button a {
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

